body{
    background-color: #4f9bff;
    font-family: verdana;
    font-style: italic;
    text-align: center;
    color: #ffffff;

}
h1:hover{
    color: #ff0000;
    background-color: #ff00ff;
    font-size: 50px;
    margin: 0px;
}
h2{
    color: #000000;
    background-color: #ffffff;
}
ul{
    display: inline-block;
}
