* {
    font-family: Verdana;
}

#bannerWrap, #main {
    display: flex;
    flex-wrap: wrap;
}

#banner1, #banner2 {
    background-color: #5f79a8;
    color: white;
    height: 140px;
}

#banner1 {
    width: 30%;
}

#banner2 {
    width: 70%;
}

.calendar {
    background-color: #9fa8da;
    width: 160px;
    height: 85px;
    margin: 5px;
    border: 1px solid #6f79a8;
    overflow: hidden;
    float: left;
}

.calendar:hover {
    background-color: #6f79a8;
    color: white;
}

#footer {
    background-color: #6f79a8;
    color: white;
    padding: 5px;
    text-align: right;
}

h6 {
    text-align: center;
}