.main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444444;
  color: #DDDDDD;
  font-size: 3rem;
  font-family: Verdana, sans-serif;
  text-align: center;
}
