body {
    font-family: Verdana, sans-serif;
    color: #aaaaaa;
    background-color: #454545;
    font-weight: bolder;
    font-size: xx-large;
}

form {
    display: block;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 175px;
    border: 5px solid #aaaaaa;
    border-radius: 25px;
    text-align: center;
}

input {
    font-family: Verdana, sans-serif;
    color: #fafafa;
    background-color: #aaaaaa;
    border: 1px solid #aaaaaa;
    border-radius: 25px;
}

#title {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}