#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #454545;
    color: #dddddd;
    font-family: Verdana, sans-serif;
    text-align: center;
}

#photoWrap {
    height: 600px;
}

img {
    max-height: 500px;
    border-radius: 25px;
}