body{
    background-color: gray;
    font-family: sans-serif;
    color: white;
}

.senator{
    width: 75px;
}

.main{
    /* do nauczenia */
    display: grid;
    grid: auto / auto auto auto;
    gap: 50px 50px;
    
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    width: 100%;
    

}

.container{
    background-color: gray;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: auto;
    padding: 10px;
    cursor: wait;
}

.container:hover{
    background-color: darkgray;
    animation: shadow 0.5s;
    box-shadow: 0px 0px 10px black;
}

button:hover{
    cursor: grab;
}

@keyframes shadow{
    0%{
        box-shadow: 0px 0px 0px black;
        background-color: gray;
    }
    100%{
        box-shadow: 0px 0px 10px black;
        background-color: darkgray;
    }
}