body {
    background-color: #363636;
    color: #dddddd;
}

.textCenter {
    text-align: center;
}

.textBig {
    font-size: 2rem;
}

.textBigger {
    font-size: 5rem;
}

.bgAqua{
    background-color: aqua;
    color: #363636;
    padding: 10px;
}